@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper1200{
    max-width: 1200px;
    margin: auto;
}

header{
    background: #181818;
}

header .wrapper1200{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 32px;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-left: 24px;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul li{
    margin-left: 32px;
    padding: 15px 0px;
}

header nav ul li:nth-child(2){
    margin-left: 56px;
}

header nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

header nav ul li:last-of-type {
    border-radius: 14px;
    background: #FFF;
    padding: 9px 20px 13px;
}

header nav ul li:last-of-type a {
    color: #000;
    font-family: 'poppinsregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
}

.main-section{
    background-image: url("../images/main-section-bg.png");
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.main-section article{
    max-width: 580px;
    text-align: center;
}

.main-section article h2{
    color: #C0C0C0;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.main-section article h1{
    color: #FFF;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px; /* 110% */
    margin-bottom: 18px;
}

.main-section article p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    max-width: 580px;
    margin: auto;
}

.ms-list{
    display: flex;
    list-style: none;
    margin-left: 24px;
    position: absolute;
    right: 46px;
    bottom: 46px;
    flex-wrap: wrap;
}

.ms-list li{
    color: #FFF;
    font-family: 'poppinsregular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    margin-left: 20px;
}

.ms-list li:before{
    content: url("../images/sc1-list-si-1.svg");
    position: relative;
    top: 6px;
    right: 4px;
}

.ms-list li:nth-child(2)::before{
    content: url("../images/sc1-list-si-2.svg");
}

.ms-list li:nth-child(3)::before{
    content: url("../images/sc1-list-si-3.svg");
}

.ms-list li:last-child::before{
    content: url("../images/sc1-list-si-4.svg");
}

.past-clients{
    background: #000;
    padding: 113px 0 100px 0;
}

.past-clients h2{
    color: #FFF;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 105% */
    margin-bottom: 15px;
}

.past-clients p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'poppinsregular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    margin-bottom: 40px;
}

/* .pc-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.pc-carousel a{
    display:inline-block;
    text-align: center;
}


/* .pc-carousel a:not(:last-child){
    margin-right: 109px;
} */
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .owl-carousel a {
    display:inline-block;
    text-align: center;
} */
